div.layout-wrapper {
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

article.section-wrapper {
  &:not(:last-child) {
    min-height: 100vh;
  }
  @media (max-width: 768px) {
    padding: 10px;
    &:last-child {
      height: calc(100vh - 60px);
    }
  }
  @media not (max-width: 768px) {
    padding: 40px;
    &:last-child {
      height: calc(100vh - 120px);
    }
  }
}

div.footer-wrapper {
  padding: 10px;
  text-align: center;
  color: gray;
  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}
