article.section-wrapper {
  @media (max-width: 768px) {
    margin: 0 5px;
  }
  @media not (max-width: 768px) {
    margin: 0 20px;
  }
}

article.section-wrapper:not(:first-child) {
  border-top: 1px dotted lightgray;
}

article.section-wrapper > header {
  margin: 15px 0 0;
  position: sticky;
  top: 0;
  z-index: 1;
  background: linear-gradient(180deg, white 80%, transparent);
  & > h1::before {
    margin-right: 10px;
  }
  @media (max-width: 768px) {
    padding: 5px 15px 30px;
  }
  @media not (max-width: 768px) {
    padding: 5px 0 30px;
  }
}

article.section-wrapper > header > h1 > a::before {
  content: attr(data-icon);
  margin-right: 10px;
}

article.section-wrapper > header > h4 {
  color: gray;
}

article#main-section-education > div {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}
article#main-section-education > div > article > :where(figure, div) {
  @media not (max-width: 768px) {
    display: inline-block;
    vertical-align: top;
  }
}

article#main-section-education > div > article {
  background-color: var(--section-background);
  border-radius: 1.5rem;
  position: relative;
  &#univercity-article::after {
    position: absolute;
    top: 20px;
  }
  @media (max-width: 768px) {
    padding: 20px;
    &#univercity-article::after {
      right: 10px;
      width: 192px;
      height: 192px;
    }
  }
  @media not (max-width: 768px) {
    padding: 20px 40px;
    &#univercity-article::after {
      right: 20px;
      width: 256px;
      height: 256px;
    }
  }
}

article#main-section-education > div > article#univercity-article::after {
  content: '';
  display: block;
  background-image: url(/src/assets/image/01MainSymb.jpg);
  background-size: cover;
  opacity: 0.2;
}
