article.section-wrapper {
  margin: 0 20px;
}

article.section-wrapper:not(:first-child) {
  border-top: 1px dotted lightgray;
}

article.section-wrapper > header {
  margin: 0;
  padding: 20px 0;
}

article.section-wrapper > header > h1 > a::before {
  content: attr(data-icon);
  margin-right: 10px;
}

article.section-wrapper > header > h4 {
  color: gray;
}

article#main-section-education > div {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

article#main-section-education > div > section > :where(figure, div) {
  @media not (max-width: 768px) {
    display: inline-block;
    vertical-align: top;
  }
}

article#main-section-education > div > section {
  @media (max-width: 768px) {
    position: relative;
    &#univercity-article::after {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  @media not (max-width: 768px) {
    display: flex;
    &#univercity-article::after {
      margin-left: 20px;
    }
  }
}

article#main-section-education > div > section#univercity-article::after {
  content: '';
  width: 192px;
  height: 192px;
  display: block;
  background-image: url(/src/assets/image/01MainSymb.jpg);
  background-size: cover;
  opacity: 0.2;
}
