aside > header {
  & * {
    margin: 0;
  }
  &,
  & header {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
  }
  @media (max-width: 768px) {
    margin: 40px 20px 20px;
  }
  @media not (max-width: 768px) {
    margin: 70px 30px;
  }
}

aside > *:nth-last-child(2) {
  text-align: center;
  flex: 1;
}

aside > footer {
  box-sizing: border-box;
  border-top: 1px solid lightgray;
}

aside > footer > label {
  display: block;
  padding: 15px;
  text-align: center;
  &:hover {
    background-color: whitesmoke;
  }
}

aside#default-aside > header {
  @media (max-width: 768px) {
    display: none;
  }
  @media not (max-width: 768px) {
    align-items: center;
    & > figure {
      margin: 0;
      border-radius: 20px;
      overflow: hidden;
    }
    & > figure > img {
      display: block;
      transition: all 5s ease-out;
      max-width: 120%;
      &:hover {
        transform: scale(1.2);
      }
    }
    & > h4 {
      margin: 0;
      & > figure + h3 > ruby > :where(rp, rt) {
        color: gray;
      }
    }
  }
}

aside#default-aside > header > address.sns-link {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  & > a {
    padding: 0;
  }
  & > a > img {
    display: block;
    width: 32px;
    &:hover {
      filter: brightness(0.9);
    }
    &[src$='.svg'] {
      padding: 3px;
    }
    &[alt='github'] {
      background-color: white;
      border-radius: 3px;
    }
  }
}

aside#default-aside > dl {
  display: flex;
  flex-flow: column wrap;
  @media (max-width: 768px) {
    padding: 0;
    margin-top: 30px;
    align-items: center;
    & > dt {
      position: relative;
      width: 100%;
      flex-grow: 1;
      & img {
        display: none;
      }
      & > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  @media not (max-width: 768px) {
    margin: 0 auto;
    gap: 10px;
    & > dt > :where(a, label) {
      width: 100%;
      display: inline-flex;
      gap: 10px;
      padding: 10px 50px;
      &:hover {
        border-radius: 20px;
        background-color: whitesmoke;
      }
      &[data-icon]:before {
        content: attr(data-icon);
      }
    }
  }
}

aside#default-aside:has(> dl > dt > input:checked) {
  @media (max-width: 768px) {
    bottom: -300px !important;
  }
  @media not (max-width: 768px) {
    left: -600px !important;
  }
}
