aside#language-aside {
  position: fixed;
  display: flex;
  flex-flow: column wrap;
  z-index: 11;
  transition: all 0.35s;
  background-color: white;
  box-sizing: border-box;
  @media (max-width: 768px) {
    width: 100%;
    height: 400px;
    bottom: -400px;
    left: 0;
    border-radius: 20px 20px 0 0;
  }
  @media not (max-width: 768px) {
    width: 500px;
    height: 100%;
    top: 0;
    left: -600px;
    font-size: 18px;
  }
}

input#menu-icon:checked
  + label
  + aside#default-aside:has(> dl > dt > input:checked)
  + aside#language-aside {
  @media (max-width: 768px) {
    bottom: 0;
  }
  @media not (max-width: 768px) {
    left: 0;
  }
}

aside#language-aside > header + div.change-language {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  @media (max-width: 768px) {
    padding: 0 20px;
    & > fieldset > legend {
      display: none;
    }
  }
  @media not (max-width: 768px) {
    margin: 0 20px 20px;
    padding: 30px 20px;
    border-radius: 20px;
    border: 1px dotted lightgray;
  }
  & span:nth-child(2n + 1) {
    color: gray;
  }
  & > button {
    min-width: 100px;
    align-self: flex-end;
  }
}
