@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  font-display: swap;
  src: url('/src/assets/fonts/NotoSansKR/NotoSansKR-Light.ttf') format('woff2'),
    url('/src/assets/fonts/NotoSansKR/NotoSansKR-Light.ttf') format('woff'),
    url('/src/assets/fonts/NotoSansKR/NotoSansKR-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-display: swap;
  src: url('/src/assets/fonts/NotoSansKR/NotoSansKR-Regular.ttf')
      format('woff2'),
    url('/src/assets/fonts/NotoSansKR/NotoSansKR-Regular.ttf') format('woff'),
    url('/src/assets/fonts/NotoSansKR/NotoSansKR-Regular.ttf')
      format('truetype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  font-display: swap;
  src: url('/src/assets/fonts/NotoSansKR/NotoSansKR-Medium.ttf') format('woff2');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  font-display: swap;
  src: url('/src/assets/fonts/NotoSansKR/NotoSansKR-Bold.ttf') format('woff2'),
    url('/src/assets/fonts/NotoSansKR/NotoSansKR-Bold.ttf') format('woff'),
    url('/src/assets/fonts/NotoSansKR/NotoSansKR-Bold.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html:lang(ko),
html:lang(en),
html:lang(de) {
  font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300, 400, 500, 700;
  font-display: swap;
  src: local('Noto Sans Japanese'), local('NotoSansJP-Regular'),
    url('https://fonts.googleapis.com/earlyaccess/notosansjp.css')
      format('stylesheet');
}

html:lang(ja) {
  font-family: 'Noto Sans Japanese', sans-serif;
}

@font-face {
  font-family: 'Noto Sans SC';
  font-style: normal;
  font-weight: 300, 400, 500, 700;
  font-display: swap;
  src: local('Noto Sans SC'), local('NotoSansSC-Regular'),
    url('https://fonts.googleapis.com/earlyaccess/notosansjp.css')
      format('stylesheet');
}

html:lang(zh) {
  font-family: 'Noto Sans SC', sans-serif;
}
