:root {
  --point1-color: #4286f4;
  --section-background: #f8f8f8;
}

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  box-sizing: border-box;
  font-size: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

button.common {
  padding: 0.5rem 1rem;
  border: 2px solid var(--point1-color);
  border-radius: 2rem;
  background-color: white;
  color: var(--point1-color);
  &:not(:disabled):hover {
    background-color: var(--section-background);
  }
}

button.apply {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 2rem;
  background-color: var(--point1-color);
  color: white;
  &:not(:disabled):hover {
    background-color: #3c7bea;
  }
}

label[for] {
  cursor: pointer;
}
